.contenedor-general{
    display: flex;
}


.diagram {
    width: 100%;
    max-width: 400px; /* Ajusta el ancho máximo de los gráficos */
    margin-bottom: 10px;
    position:static;
}

.columnas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Hasta 3 columnas */
    gap: 10px;
}

.dashbardia{
    display: flex;
}

.barra{
    width: auto;
}

.dashgraficas{
    left: 10px;
    top: 1px;
    width: 100%;
    margin: 3%;
    position:static;
}



/* menu desplegable */

#sidebar {
    position: fixed;
    height: 100%;
    left: -540px;
    transition: all 500ms linear;
    margin: auto;
  }

  #sidebar.active {
    left: 0px;
  }

#sidebar .toggle-btn {
    position: absolute;
    left: 558px;
    top: 1px;
    cursor: pointer;
  }
  
  #sidebar .toggle-btn span {
    display: block;
    width: 35px;
    text-align: center;
    font-size: 25px;
  }